.App {
  display: flex;
  height: 100vh;
}

.left-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-panel {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.array-visualization {
  display: flex;
  flex-wrap: wrap;
}

.array-square {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
}

.index {
  position: absolute;
  bottom: -20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}

.array-square.red {
  background-color: red;
}

.array-square.green {
  background-color: green;
}

.array-square.blue {
  background-color: blue;
}

.button-container {
  margin-right: 20px;
}

.array-square {
  position: relative;
}

.arrow {
  position: absolute;
  top: -30px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
}

.arrow-text {
  position: absolute;
  top: -40px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px; /* Adjust the font size as needed */
}

.color-inputs {
  margin-top: 10px;
}

.context-box {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 8px;
  cursor: move;
  position: relative;
}

.context-box input {
  width: 150px; /* Adjust width as needed */
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
  cursor: pointer;
}

.pointer {
  position: absolute;
  z-index: -1;
  border: 2px solid black;
}

.pointer-line {
  position: absolute;
  background-color: black;
  z-index: -1;
}

.pointer-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black;
  z-index: -1;
}
